<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
		<div class="container" style="margin-top: 75px">
			
				<div class="card bg-danger text-white">
					<div class="card-header">
						Error: Acceso denegado!
					</div>
					<div class="card-body">
						<h5 class="card-title">
							<!-- obtengo el usuario que esta en la sesion -->
							Lo sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>, no tiene permisos para acceder a este recurso o pagina!.
						</h5>
						<a th:href="@{/listar}" class="btn btn-outline-light" role="button">Ir al inicio</a>
					</div>
				</div>
			
		</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>